@page
@model EXE201_LEARNING_ENGLISH_Client.Pages.Students.Courses.Slots.IndexModel
@{

}

<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="text-center mb-5">
            <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Courses</h5>
            <h1>Our Popular Courses</h1>
        </div>
        <div class="row">
            @foreach (var slot in Model.SlotViewModels)
            {
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="rounded overflow-hidden mb-2">
                        <img class="img-fluid" src="~/img/course-6.jpg" alt="">
                        <div class="bg-secondary p-4">
                            <a class="h5">@slot.StartTime</a>
                            <br />
                            <a class="h5">@slot.EndTime</a>
                            <br />
                            <a class="h5">@slot.IsAttend</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
