@page
@model EXE201_LEARNING_ENGLISH_Client.Pages.Students.Orders.CreateModel
@{
}

<div class="container py-5">
    <div class="text-center mb-5">
        <img src="~/img/momoqr.jpg" style="width: 400px; height: 400px;" />
        <h3>@Model.Message</h3>
        <h5>Giao dịch dẽ được xử lý trong 2-3 ngày</h5>
    </div>
</div>