@page
@model EXE201_LEARNING_ENGLISH_Client.Pages.Students.Orders.CreateModel
@{
}
div class="container-fluid py-5">
<div class="container py-5">
    <div class="text-center mb-5">
        <img src="~/img/momoqr.jpg" />
    </div>
</div>